.home_page {
    display: flex;
    flex-direction: column;
    /* padding: 60px; */
}
/* PAGINATION */
.container .pagionation_box {
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pagionation_box .pagionation-main {
    width: auto;
    height: 24px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .pagionation-main .pagionation-dot {
    margin: 0 20px;
    
    display: flex;
    flex-direction: row;
}

.container .pagionation-dot .dot {
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
}
.container .pagionation-dot .dot div {
    width: 4px;
    height: 4px;
    background: #112137;
    border-radius: 50%;
}
.container .pagionation-dot .dot.active {
    border: 2px solid #112137}
/* PAGINATION */

/* category top */
.container .category_top {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}
.container .category_top span {
    color: rgba(4, 30, 66, 1);

    font-family: "Jost";
    font-style: Medium;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
}
.container .category_top a {
   
    width: 131px;
    height: 27px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
}
.container .category_top a:hover {
    border-bottom: 2px solid #041e42;}

/* category top tugadi */

.header_frame {
    position: relative;
    margin-top: 47px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.header_frame .container {
    flex-direction: row;
    /* height: 200px;
    background-color: aqua; */

}

.header_frame .container .header_left {
    position: relative;
    padding: 15px;
    width: 871px;
    height: 508px;

    background-color: #0053f6;
    background-image: url("../images/icons/header_bg.svg");
    border-radius: 5px;
}

.header_frame .header_left .header_content {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}
.header_frame .header_content div {
    width: 104px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    background: rgba(245, 195, 75, 1);
    color: rgba(4, 30, 66, 1);

    font-family: "Jost";
    font-style: Medium;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.header_frame .header_content span {
    margin-top: 10px;
    width: 428px;
    color: rgba(255, 255, 255, 1);

    font-family: "Jost";
    font-style: Medium;
    font-size: 60px;
    font-weight: 400;
    line-height: 87px;
} 
.header_frame .header_content p {
    margin-top: 10px;
    color: #ffffff;

    font-family: "Jost";
    font-style: Medium;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    
}
.header_frame .header_content a {
    margin-top: 20px;
    width: 140px;
    height: 52px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 6px;
    color: rgba(4, 30, 66, 1);

    font-family: "Jost";
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}
.header_frame .header_content img {
    position: absolute;
    right: 15px;
    bottom:60px;
}
.header_frame .container .header_right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;

}
.header_frame .header_right .header_box {
    width: 422px;
    height: 240px;
    display: flex;
    flex-direction: row;
    background: rgba(242, 242, 242, 1);
    border-radius: 5px;
}

.header_frame .header_right .box_left {
    margin-left: 30px;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;

}
.header_frame .box_left span {
    color: rgba(34, 72, 147, 1);

    font-family: "Jost";
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.header_frame .box_left p {
    margin: 10px 0px;
    color: rgba(4, 30, 66, 1);

    font-family: "Jost";
    font-style: Medium;
    font-size: 26px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
 .header_frame .box_left a {

    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
}
 .header_frame .box_left .hover_border {
    margin-top: 3px;
    background: rgba(4, 30, 66, 1);
    width: 32px;
    height: 2px;
}
 .header_frame .header_box .box_right {
    width: 50%;
}
 .header_frame .box_right img {
    width: 100%;
    height: 100%;

}
    .header_frame .box_left .hover_border2 {
    margin-top: 3px;
    background: rgba(4, 30, 66, 1);

    width: 127px;
    height: 2px;
}
    /* SERVICE */
    .home_page .service_frame {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
        
}
.service_frame .container {
    flex-direction: row;
}
.service_frame .container .service_box {
    width: 25%;
    height: 86px;

    display: flex;
    flex-direction: row;

    border-bottom: 1px solid #eaeaea;
}
.service_frame .service_box img {
    width: 35px;
    height: 35px;

}
.service_frame .service_box .service_content {
    margin-left: 14px;
    display: flex;
    flex-direction: column;

}
.service_frame .service_content span {
    color: rgba(4, 30, 66, 1);

    font-family: "Jost";
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
.service_frame .service_content p {
    color: rgba(98, 105, 116, 1);
    font-family: "Jost";
    font-style: Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
/* CATEGORY */
.shop_category_frame {
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.shop_category_frame .container {
    flex-direction: column;
}
.shop_category_frame .container .category_top {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.shop_category_frame .category_top span {
    color: rgba(4, 30, 66, 1);

    font-family: "Jost";
    font-style: Medium;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
}
.shop_category_frame .category_top a {
   
    width: 131px;
    height: 27px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
}
.shop_category_frame .category_top a:hover {
    border-bottom: 2px solid #041e42;
}
.shop_category_frame .container .category_wrapper {
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.shop_category_frame .category_wrapper .category_box {
    width: 142px;
    height: auto;

    display: flex;
    flex-direction: column;
    cursor: pointer;

}
.shop_category_frame .category_box .category_img_box {
    width: 100%;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eaeaea;
    border-radius: 150px;
    background: rgba(255, 255, 255, 1);
}
.shop_category_frame .category_box span {
    margin-top: 15px;
    color: rgba(4, 30, 66, 1);

    font-family: "Jost";
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}
/* SELLING PRODUCT */
.selling_product_frame {
    position: relative;
    margin-top: 60px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.selling_product_frame .container {
    flex-direction: column;
}
.selling_product_frame .container .product_wrapper {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.selling_product_frame .product_wrapper .next_prev_box {
    width: 25px;
}
.selling_product_frame .next_prev_box img {
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.selling_product_frame .product_wrapper .product_boxes {
    position: relative;
    width: 1224px;
    height: 452px;

    display: flex;
    flex-direction: row;

}
.selling_product_frame .product_boxes .product_box {
    width: 306px;
    height: 100%;

    display: flex;
    flex-direction: column;
    /* cursor: pointer; */

}
.selling_product_frame .product_box .product_img_box {
    width: 100%;
    height: 280px;

}
.selling_product_frame .product_img_box .hover_box {
    margin-bottom: 10px;
    display: none;
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: flex-end;
    align-items: center;


}
.selling_product_frame .hover_box button {
    width: 260px;
    height: 50px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    color:#ffffff;
    background:rgba(0, 83, 246, 1);
    border-radius: 6px;

    font-family: "Jost";
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}
.selling_product_frame .product_img_box:hover .hover_box {
    display: flex;

}
.selling_product_frame .product_box .product_content_box {
    width: 100%;
    height: auto;
    padding: 5px 22px;
    box-sizing: border-box;
}
.selling_product_frame .product_content_box .product_title {
    color: rgba(98, 105, 116, 1);

    font-family: "Jost";
    font-style: Regular;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}
.selling_product_frame .product_content_box .product_desk {
    color: rgba(4, 30, 66, 1);
    margin-top: 7px;
    height: 56px;
    overflow: hidden;
    font-family: "Jost";
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;

}
.selling_product_frame .product_content_box .review_box {
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.selling_product_frame .review_box img {
    margin-right: 4px;
}
.selling_product_frame .review_box span {
    margin-left: 10px;

    color: rgba(98, 105, 116, 1);

    font-family: "Jost";
    font-style: Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.selling_product_frame .product_content_box .price_box {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.selling_product_frame .price_box strong {

    color: rgba(4, 30, 66, 1);

    font-family: "Jost";
    font-style: Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    }
.selling_product_frame .price_box span {
    margin-left:10px;
    color: rgba(98, 105, 116, 1);

    font-family: "Jost";
    font-style: Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: line-through;
    }
.container .pagionation_box {
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container .pagionation_box .pagionation-main {
    width: auto;
    height: 24px;

    display: flex;
    flex-direction: row;
    align-items: center;
 

}

.container .pagionation-main .pagionation-dot {
    margin: 0 20px;
    
    display: flex;
    flex-direction: row;
}
.container .pagionation-dot .dot {
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
}
.container .pagionation-dot .dot div {
    width: 4px;
    height: 4px;
    background: #112137;
    border-radius: 50%;
}
.container .pagionation-dot .dot.active {
    border: 2px solid #112137
}
/* adv-frame */
.home_page .adv-frame {
    margin-top: 90px;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5edff;
    color: rgba(0, 83, 246, 1);

    font-family: "Jost";
    font-style: Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}